*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    border: 1px solid black;
    width: 100%;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.justify-space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.flex{
    display: flex;
}
.mt-15{
    margin-top: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.cp-20{
    column-gap: 20px;
}
/* ---------------------------------------- Sidebar start ----------------------------------------  */
.sidebar{
    width: 300px;
    transition: all 0.2s;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.0625);
}
.hideslide{
    width: 70px;
}
.sidebar-logo{
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    padding: 6px 24px;
    margin-bottom: 25px;
}
.logo-text h5{
    font-size: 20px;
    color: #313435;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    padding: 15px;
}

.sidebar-link{
    padding: 5px 15px;
    /* border: 1px solid black; */
    line-height: 35px;
    width: 100%;


 
}
.sidebar-link-icon{
    margin: 0px 15px 0px 0px;
    /* border: 1px solid red; */
}
.sidebar-link-icon i{
    font-size: 22px;
}
.sidebar-link-name{
    color: #72777a;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    /* border: 1px solid red; */
}
.sidebar-link-name:hover{
    color: #2c2d2e;
}
.ri-home-8-line{
    color: #2196f3;
}
.ri-mail-line{
    color: #795548;
}
.ri-share-forward-2-fill{
    color: #2196f3;
}
.ri-calendar-line{
    color: #ff5722;
}
.ri-message-2-line{
    color: #673ab7;
}
.ri-bar-chart-2-line{
    color: #3f51b5;
}
.ri-edit-2-line{
    color: #03a9f4;
}
.ri-palette-line{
    color: #e91e63;
}
.ri-menu-unfold-fill{
    color: #ff9800;
}
.ri-map-2-line{
    color: #9c27b0;
}
.ri-file-copy-2-line{
    color: #f44336;
}
.ri-menu-2-line{
    color: #009688;
}
/* ---------------------------------------- Sidebar end ----------------------------------------  */



/* ---------------------------------------- head-container start ----------------------------------------  */
.header-container{
    width: 100%;
}
.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    height: 70px;
}
.btn{
    margin: 0px 10px 0px 15px;
    font-size: 20px;
    border: none;
    color: #313435;
}
.nav-left a i{
    padding: 0px 15px;
    color: #5b5e61;
    font-size: 20px;
}
.nav-left a i:hover{
    color: #151616;
}

.nav-right a i{
    padding: 0px 15px;
    color: #5b5e61;
    font-size: 20px;
}
.nav-right img{
    width: 35px;
    border-radius: 50%;
}
.nav-right a i:hover{
    color: #151616;
}
.nav-right a p:hover{
    color: #000000;
}
.profile-name{
    color: #5b5e61;
    padding: 0px 15px;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
}
/* ---------------------------------------- head-container end ----------------------------------------  */



/* ---------------------------------------- graph section start ----------------------------------------  */
.box1{
    border: 1px solid rgba(0, 0, 0, 0.0625);
}
.bg-1{
    background-color: #f9fafb;
    height: 100vh;
}
.graph{
    padding: 20px;
    background-color: white;
}
.graph h6{
    color: #72777a;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.chart1 i{
    font-size: 40px;
    color: #4caf50;
}
.chart2 i{
    font-size: 40px;
    color: #673ab7;
}
.chart3 i{
    font-size: 40px;
    color: #03a9f4;
}
.chart4 i{
    font-size: 40px;
    color: #f44336;
}
.percentage1{
    /* border: 1px solid black; */
    border-radius: 40px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background-color: #e8f5e9;
    color: #4caf50;
}
.percentage2{
    /* border: 1px solid black; */
    border-radius: 40px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background-color: #ffebee;
    color: #f44336;
}
.percentage3{
    /* border: 1px solid black; */
    border-radius: 40px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background-color: #f3e5f5;
    color: #9c27b0;
}
.percentage4{
    /* border: 1px solid black; */
    border-radius: 40px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background-color: #e3f2fd;
    color: #2196f3;
}
/* ---------------------------------------- graph section start ----------------------------------------  */



/* ---------------------------------------- map section start ----------------------------------------  */
.bg-color-white{
    background-color: white;
}
.map{
    /* padding: 20px 0px 20px 20px; */
    width: 70%;
}
.site-visits{
    color: #72777a;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}


.map-data{
    /* padding: 20px 20px 20px 0px; */
    width: 30%;
}
.layers{
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.0625);
    border-right: 1px solid rgba(0, 0, 0, 0.0625);
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}
.layer h6{
    color: #72777a;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}
.Visitor{
    color: #72777a;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 600;
}
.Visitor-percentage{
    color: #72777a;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.border-1{
    border: 3px solid #673ab7;
    width: 50%;
    margin: 15px 0px 15px 0px;
}
.border-2{
    border: 3px solid gainsboro;
    width: 50%;
    margin: 15px 15px 15px 0px;
}
.border-3{
    border: 3px solid #4caf50;
    width: 80%;
    margin: 15px 0px 15px 0px;
}
.border-4{
    border: 3px solid gainsboro;
    width: 20%;
    margin: 15px 15px 15px 0px;
}
.border-5{
    border: 3px solid #03a9f4;
    width: 40%;
    margin: 15px 0px 15px 0px;
}
.border-6{
    border: 3px solid gainsboro;
    width: 60%;
    margin: 15px 15px 15px 0px;
}
.border-7{
    border: 3px solid #607d8b;
    width: 90%;
    margin: 15px 0px 15px 0px;
}
.border-8{
    border: 3px solid gainsboro;
    width: 10%;
    margin: 15px 15px 15px 0px;
}
.progress{
    border-top: 1px solid rgba(0, 0, 0, 0.0625);
    padding-top: 20px;
    margin-top: 20px;
}
.progress1{
    padding: 6px;
}
.round-border{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}
.round1{
    border: 3px solid red;
    border-left: 3px solid gray;
    border-radius: 50%;
    padding: 25px;
    margin: 5px;
    aspect-ratio: 1/1;
}
.round2{
    border: 3px solid #0698db;
    border-left: 3px solid gray;
    border-radius: 50%;
    padding: 25px;
    margin: 5px;
    aspect-ratio: 1/1;
}
.round3{
    border: 3px solid orange;
    border-top: 3px solid gray;
    border-radius: 50%;
    padding: 25px;
    margin: 5px;
    aspect-ratio: 1/1;
}
.peer{
    color: #72777a;
    font-family: system-ui,sans-serif, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
/* ---------------------------------------- map section end ----------------------------------------  */



/* ---------------------------------------- monthly-stats section start ----------------------------------------  */
.monthly-stats{
    width: 50%;
}
/* ---------------------------------------- monthly-stats section end ----------------------------------------  */